<!DOCTYPE html>
<html>
<head>
  <title>CUSEC2015</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navigation">
	
		<%= link_to "CUSEC '15", root_path, class: "nav-link" %>
		<%= link_to "SCHEDULE", schedule_path, class: "nav-link" %>
		<%= link_to "SPEAKERS", speakers_path, class: "nav-link" %>
		<%= link_to "RESUME UPLOAD", resumeuploads_path, class: "nav-link" %>
		<%= link_to "VENUE", venue_path, class: "nav-link" %>
		<%= link_to "SCHOOLS", schools_path, class: "nav-link" %>
		<%= link_to "TEAM", teams_path, class: "nav-link" %>
		<%= link_to "LOGIN", login_path, class: "nav-link" %>
	
</div>

<div class="content">
	
		<%= yield %>
	
</div>



</body>
</html>
